<!-- app/views/pages/about.html.erb -->
<h1>About</h1>
 <div class="introduction">
  <div class="introduction-head">
    <%= image_tag "profile.jpg", width: "300" %>
    <h2>Yang Hyojeong</h2>
    <h4>Web Developer Perhaps</h4>
  </div>
  <div className="separator"></div>
  <div class="introduction-skills">
    <h3>Skills</h3>
    <ul>
      <li>Python, Django Restful Framework</li>
      <li>NestJS with TypeScript</li>
      <li>Next.js, Sveletkit</li>
      <li>Ruby on Rails</li>
      <li>Git</li>
    </ul>
  </div>
  <div className="separator"></div>
  <div class="introduction-careers">
    <h3>Careers</h3>
    <h4>Mediquitous</h4>
    <p>2022.10 - present</p>

    <h4>Sellernote</h4>
    <p>2021.10 - 2022.09</p>

    <h4>Petner</h4>
    <p>2020.09 - 2021.10</p>
  </div>
  <div className="separator"></div>
  <div class="introduction-degrees">
    <h3>Education</h3>
    <ul>
      <li>筑紫女学園大学 Language Exchange Programm</li>
      <p>2019.09 - 2020.02</p>
    </ul>


  </div>
  <hr />
  <p>
    More Information HERE 👉👉
    <a href="https://docs.google.com/document/d/1kstIvuthLIDqVqEXc_6I2Xg9bInYSsE6ryuBPyJftTQ/edit#heading=h.qmoe6gd4lvf", target="_blank">
      📩 Resume 📩
    </a>
  </p>
</div>
