<div class="modal">
  <p>I am Yang Hyojeong aka YangChoi.</p>
  <p>I have worked almost 2 years as a Web Programmer</p>
  <p>Would you like to know me?</p>
  <button>Cancel</button>
  <button>OK</button>
</div>

<!-- 연락처 정보 -->
<footer>
  <p>Email: yangchoi.hj@gmail.com</p>
  <p>GitHub: yangchoi</p>
  <p>LinkedIn: Hyojeong_Yang</p>
</footer>
